.cover__link {
  color: #FFFFFF;
  text-decoration: none;
  z-index: 1;
  padding: 245px 312px;
  max-width: 100%;
  
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  position: relative;
}

.cover__link:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.5s linear;
  
}

.cover__link:hover:before {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .cover__link {
    padding: 195px 232px;
  }
  
}

@media screen and (max-width: 1023px) {
  .cover__link {
    padding: 115px 104px;
  }
  
}

@media screen and (max-width: 767px) {
  .cover__link {
    padding: 33px 16px;
  }
  
}